<nav class="nav-custom">
    <div class="nav-custom-header col-sm-3">
      <img class="nav-custom-logo" src="/assets/icon.svg"></img>
      <h1>DRIVER</h1>
    </div>
    <div class="nav-custom-collapse col-sm-6" id="myNavbar">
      <ul class="nav-custom-ul">
        <li id="home">
          <img class="nav-custom-icon-main" src="/assets/icon-home-un.svg"></img>
          <a href="/">HOME</a>
          <div class="nav-hr" style="display:none;"></div>
        </li>
        <li id="reports">
          <img class="nav-custom-icon-main" src="/assets/icon-my-reports-un.svg"></img>
          <a href="/reports">MY REPORTS</a>
          <div class="nav-hr" style="display:none;"></div>
        </li>
        <li id="profile">
          <img class="nav-custom-icon-main" src="/assets/icon-my-profile-un.svg"></img>
          <a href="/profile">MY PROFILE</a>
          <div class="nav-hr" style="display:none;"></div>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <img class="nav-custom-icon" src="/assets/icon-my-notifications.svg"></img>
    </div>
</nav>
