<!doctype html>
<html>
<head>
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<div class="container">

  <div class="card col-sm-6 col-sm-offset-3 col-xl-4 col-xl-offset-4">

    <img class="tr" src="/assets/tr-corner.svg"></img>
    <img class="tl" src="/assets/tl-corner.svg"></img>
    <img class="bl" src="/assets/bl-corner.svg"></img>
    <img class="br" src="/assets/br-corner.svg"></img>

    <h1><a href="/login"><img class="back-arrow" src="/assets/icon-close-copy.svg"></img></a>FORGOT PASSWORD</h1>
    <hr class="txt-hr">

    <p class="free-text">Please enter your email address below and we will send you a link to reset your password.</p>

    <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% if (errMessage.length > 0) { %>
        <div class="alert alert-danger"><%= errMessage %></div>
    <% } %>

    <form action="/forgot" method="post">
        <div class="form-group">
            <p class="text-labels">EMAIL ADDRESS</p>
            <input id="email-input" type="text" class="form-control" placeholder="Enter Your Email..." name="email" required>
        </div>

        <button type="submit" class="signup-button-frg">SEND MY LINK</button>
    </form>

</div>

<div class="footer col-sm-6 col-sm-offset-3">
  <p>OUR COMPANIES</p>
  <div class="logo-container">
    <img src="/assets/logo1.svg"></img>
    <img src="/assets/logo2.svg"></img>
    <img src="/assets/logo3.svg"></img>
    <img src="/assets/logo4.png"></img>
  </div>
</div>

</div>
</body>
</html>
