<!doctype html>
<html>
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>

  <% include partials/menu %>

  <div class="container">

    <div class="card">
      <img class="tr" src="/assets/tr-corner.svg"></img>
      <img class="tl" src="/assets/tl-corner.svg"></img>
      <img class="bl" src="/assets/bl-corner.svg"></img>
      <img class="br" src="/assets/br-corner.svg"></img>

      <h1>Home</h1>

    </div>

  </div>
</body>
<% include partials/script %>
</html>
