@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

html * {
  font-family: 'Montserrat', sans-serif;
}
.nav-custom {
  height: 70px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 12px 0 rgba(24, 24, 24, 0.11);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px 40.5px;
}
.nav-custom-collapse {
  display: block !important;
  height: 100%;
  padding-bottom: 0;
  overflow: visible !important;
  text-align: center;
}
.nav-custom-header {
  float: left;
  display: inline-flex;
}
.nav-custom-header h1 {
  margin: 0px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 15px;
}
.nav-custom-ul {
  text-align: center;
  list-style: none;
  margin-bottom: 0px;
  height: 100%;
}
.nav-custom-ul>li {
    display: inline-block;
    margin-right: 70px;
    height: 100%;
    position: relative;
    line-height: 40px;
}
.nav-custom-ul>li:last-child {
  margin-right: 0px;
}
.nav-custom-ul>li>a {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #43484b;
}
.nav-custom-ul>li>img {
  vertical-align: middle;
}
.nav-custom-ul>li.active>a {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.nav-custom-icon {
  float: right;
  margin-top: 5px;
}
.nav-custom-icon-main {
  vertical-align: bottom;
  padding-right: 4px;
}
.nav-hr {
  width: 50%;
  height: 3px;
  background-color: #4ab3ad;
  margin: auto;
  position: absolute;
  bottom: -15px;
  left: 25%;
}
.dropdown-toggle {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 0.5px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  opacity: 0.89;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.dropdown-toggle2 {
  float: right;
  color: white !important;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 0.5px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  opacity: 0.89;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.dropdown-toggle2 option {
  background-color: #000 !important;
}

#admin-select option {
  background-color: black;
  color: #ffffff;
}
.dropdown {
  text-align: right;
}
.click-header {
  display: flex;
  cursor: pointer;
}
.click-header:hover,.click-header:focus,.click-header:active {
  color: transparent;
  background: transparent;
  border: transparent;
}

.iefix {
  /*position:absolute;*/
  /*top:0;*/
  /*width:100%;*/
  overflow: auto;
}
.show-mobile {
  display: none;
}
.hide-mobile {
  display: inline-flex;
}

@media only screen and (max-width: 720px) {
  [class*="col-"] {
    width: 100%;
  }
  .nav-custom-header h1,.nav-custom-ul>li>a,.dropdown {
    display: none;
  }
  .nav-custom-header {
    width: 10%;
    padding: 0px;
  }
  .nav-custom-ul {
    position: absolute;
  }
  .nav-custom-ul>li {
    margin-right: 30px;
    vertical-align: top;
  }
  .nav-custom {
    padding: 10px 20px;
    overflow: hidden;
    display: flex;
  }
  .nav-custom-ul {
    text-align: center;
    list-style: none;
    margin-bottom: 0px;
    height: 60px;
  }
  .nav-custom-ul>li {
    line-height: 50px;
  }
  .nav-hr {
    width: 60%;
    height: 3px;
    background-color: #4ab3ad;
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: 18%;
  }
  .notifications {
    margin-top: 15px;
  }
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none !important;
  }
  .nav-custom-collapse {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-add-icons-mobile {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
  }
  #profile {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 350px) {
  .nav-custom-ul>li {
    margin-right: 15px;
  }
  #profile {
    margin-right: 10px;
  }
}
