import "typeface-montserrat";

html * {
   font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("/assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'MontserratRegular' !important;
}

html, body {
  -webkit-overflow-scrolling: touch;
}

.container {
  margin-top: 50px;
  align-content: center;
}

.card {
  position: relative;
  height: auto;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 16px 0 rgba(29, 29, 31, 0.36);
  border: solid 1px rgba(255, 255, 255, 0.02);
  background-color: rgba(255, 255, 255, 0.06);
  padding: 40px 50px;
}

.tr {
  position: absolute;
  top: 0;
  right: 0;
}

.tl {
  position: absolute;
  top: 0;
  left: 0;
}

.br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.txt-hr {
  height: 3px;	margin-top: 0px; width: 30px;	background-color: #4ab3ad; border: none;}
}

.split-top {
  padding-left: 0px;
}

.split-btm {
  padding-right: 0px;
}

.form-group {
  margin-bottom: 25px;
  padding: 0px;
}

input.form-control,select.form-control {
  height: 46px;
  border-radius: 2px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: solid 1px rgba(242, 242, 250, 0.05);
  background-color: rgba(252, 252, 255, 0.05);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

input.form-control:hover,input.form-control:active,input.form-control:focus,
select.form-control:hover,select.form-control:active,select.form-control:focus {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: solid 1px #4ab3ad;
  background-color: rgba(255, 255, 255, 0.05);
  caret-color: #4ab3ad;
}

input#email-input.form-control:hover,input#email-input.form-control:active,input#email-input.form-control:focus {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: solid 1px #4ab3ad;
  background-color: rgba(255, 255, 255, 0.05);
  caret-color: #4ab3ad;
}

.form-control:active,.form-control:focus {
  border: 1px solid #6975FF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::placeholder {
  opacity: 0.3;	color: #3C4152;	font-family: "Montserrat Medium";	font-size: 14px;	line-height: 18px;
}

.signup-button {
  height: 62px;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #4ab3ad;
  background-color: rgba(74, 179, 173, 0.1);
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.44px;
  text-align: center;
  color: #ffffff;
}

.bottom-hr {
  height: 1px;	width: 100%;
  box-shadow: none;
  margin-top: 50px !important;
  opacity: 0.05;
  background-color: #f2f2fa;
}

.alt-text {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.alt-link {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4ab3ad;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.footer p {
  opacity: 0.4;
  font-family: 'MontserratRegular' !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.89px;
  color: #ffffff;
}

.logo-container img {
  margin-right: 40px;
  height: 45px;
  max-width: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.logo-container img:last-child {
  margin-right: 0px;
}
