@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

html * {
  font-family: 'Montserrat', sans-serif;
}
.form-inline {
  display: block !important;
}
.table>thead>tr>th,.table-notifications>thead>tr>th {
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.25);
  border: none;
  cursor: pointer;
}
.table>tbody>tr>td {
  padding: 15px 8px;
  cursor: pointer;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td,
.table-notifications>thead>tr>th,.table-notifications>tbody>tr>th, .table-notifications>tfoot>tr>th, .table-notifications>thead>tr>td, .table-notifications>tbody>tr>td, .table-notifications>tfoot>tr>td {
  border: none !important;
}
.table>tbody>tr>td,.table-notifications>tbody>tr>td {
  opacity: 0.9;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.table-notifications {
  overflow: hidden;
}
.table-notifications>tbody>tr>td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.table>tbody>tr:nth-child(even),.table-notifications>tbody>tr:nth-child(even) {
  background-color: transparent;
}
.table>tbody>tr:nth-child(odd),.table-notifications>tbody>tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.03);
}
.new {
  width: 37px;
  background-color: rgba(74, 179, 173, 0.1);
  display: inline-flex;
  vertical-align: text-top;
  margin-right: 15px;
  margin-left: 7px;
}
.new img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.table-headers {
  padding-top: 10px;
  height: 40px;
  padding-bottom: 30px;
}
.county-label {
  display: inline-flex;
  padding: 0px;
}
.county-label h1 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0;
    text-align: left;
    margin-left: 15px;
}
.county-label img {
  cursor: pointer;
}
.no-data {
  margin-top: 100px;
  margin-bottom: 100px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.custom-buttons-tbl {
  display: inline-flex;
    height: 40px;
    margin-top: -10px;
    float: right;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(239, 242, 255, 0.05);
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #4ab3ad;
    padding: 12px;
    cursor: pointer;
}
table tbody td:last-child,table thead tr th:last-child {
  text-align: right;
  float: right;
}
.tbl-audit-green {
  width: 75px;
  height: 17px;
  background-color: rgba(74, 179, 173, 0.2);
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #4ab3ad;
  padding: 2px;
}
.tbl-audit-yellow {
  width: 75px;
  height: 17px;
  background-color: rgba(254, 223, 102, 0.2);
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fedf66;
  padding: 2px;
}
.tbl-audit-red {
  width: 75px;
  height: 17px;
  background-color: rgba(255, 105, 105, 0.2);
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ff6969;
  padding: 2px;
}
.driver-event {
  text-align: center;
}
.driver-event p {
  opacity: 0.8;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e2e5ee;
}
.expand {
    height: 1em;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}
.page-item.disabled .page-link {
    display: none;
}
.pagination>li>a, .pagination>li>span {
  background-color: rgba(239, 242, 255, 0.05);
    color: #4ab3ad;
    border: rgba(239, 242, 255, 0.05);
}
.page-item.active .page-link,.pagination>.active>a:focus {
    z-index: 1;
    color: #fff;
    background-color: #4ab3ad;
    border-color: #4ab3ad;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  color: #fff;
  background-color: #4ab3ad;
  border-color: #4ab3ad;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #fff;
  background-color: #4ab3ad;
  border-color: #4ab3ad;
}
.dataTables_info {
  color: #4ab3ad;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.detail-header-driver {
  display: inline-flex;
  margin-bottom: 35px;
}
.detail-header-driver img {
  line-height: 24px;
  cursor: pointer;
}
.detail-header-driver h1 {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0px;
  margin-left: 15px;
}
.make-admin {
  position: absolute;
  right: 0;
  display: inline-flex;
}
.make-admin p:first-child {
  margin-right: 40px;
}
.make-admin p:last-child {
  margin-right: 50px;
}
.admin-adv-options {
  float: right;
  cursor: pointer;
}
.inner-span-p {
  color: #4ab3ad;
}
.adv-label {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  opacity: 0.4;
  margin-left: 15px;
}
.select-one {
  margin: 0px;
  margin-bottom: 50px;
  opacity: 0.8;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
#alink {
  margin-top: 25px;
}
input[type="radio"]:checked+label {
  opacity: 1;
}

@media only screen and (max-width: 768px) {

  .custom-buttons-tbl {
    position: absolute;
    right: 0;
    margin-top: -32px;
    width: 32px;
    height: 32px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #4ab3ad;
    background-color: rgba(74, 179, 173, 0.1);
    padding: 7px;
  }

  .custom-buttons-tbl img {
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  .county-label h1 {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 24px;
  }
  .tbl-audit-yellow {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    background-color: #fedf66;
    margin-top: 2px;
  }
  .tbl-audit-green {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    background-color: #4ab3ad;
    margin-top: 2px;
  }
  .tbl-audit-red {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    background-color: #ff6969;
    margin-top: 2px;
  }
  .table>tbody>tr>td, .table-notifications>tbody>tr>td {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
